body{
    margin:0;
    font-family:Arial;
    background:#F5F7FA;
}

.header{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:white;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.btn{
    background:#2B7AEC;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
}

.btn-green{
    background:#2ECC71;
    color:white;
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    background:white;
    padding:40px;
    border-radius:16px;
    display:flex;
    flex-direction:column;
    gap:16px;
}

.dashboard{
    display:flex;
}

.sidebar{
    width:250px;
    background:white;
    height:100vh;
    padding:20px;
}

.content{
    flex:1;
    padding:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:16px;
}