*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(51, 255, 0);
    padding: 25px;
    color: white;
    text-align: left;
    margin: 15px;
    border-radius: 15px;
    justify-items: center;
    justify-content: space-around;
    display: inline-flex;
    width: 90%;
    
    
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}
h1 {
    color: #2c3e50;
}
.container {
    background: white;
  
    border-radius: 10px;
    
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    width: 80%;
}

.lead{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    color: purple;
    text-align: left;
    margin: 15px;
    border-radius: 15px;
    justify-items: center;
    justify-content: space-around;
    display: inline-flex;
    width: 90%;
}

.container2 {
    background: white;
    margin-top: 50px;
    border-radius: 10px;
    
    margin: auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    width: 80%;
}