<!DOCTYPE html>
<link rel="stylesheet" href="static/style.css">
<html>
<head>
    <title>Minha Home</title>
    <style>
        
    </style>
</head>

<header>
    <h1>YAY!</h1>
    <h2>wow</h2>
    <h2>wow</h2>
    <h2>wow</h2>
    <h2>wow</h2>
</header>
<body>
    <div class="container">
        <div class="ent">
            <p>1</p>
        </div>

        <div class="ent-img">
            <p>2</p>
        </div>
    </div>

    <div class="lead">
        <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </h2>
    </div>

    <div class="container">
        <div class="ent">
            <p>1</p>
        </div>

        <div class="ent-img">
            <p>2</p>
        </div>
    </div>

    <div class="container2">
        <div class="ent">
            <p>1</p>
        </div>
        
        <div class="ent">
            <p>2</p>
        </div>
        
        <div class="ent">
            <p>3</p>
        </div>
        
        <div class="ent">
            <p>4</p>
        </div>
           
    </div>

</body>
</html>